<{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}

{% block content %}

<table>
    <tr>
        <td>
            Заголовок
        </td>
        <td>
            Дата публикации
        </td>
        <td>
            Сатья
        </td>
        <td>
            Автор
        </td>
    </tr>
    <tr>
        <td>
            {{ new.title }} <!-- При нажатии на имя товара в таблице нас теперь будет перекидывать на страницу с самого товара -->
        </td>
        <td>
            {{ new.date|date:'d-m-Y' }}
        </td>
        <td>
            {{ new.text|truncatechars:50 }}
        </td>
        <td>
            {{ new.author.user }}
        </td>
    </tr>
</table>
{% endblock content %}