{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h3>{{ time_now|date:'M d Y' }}</h3> <!-- Здесь мы применяем фильтр date. Он очень похож на метод strftime у даты. С его помощью мы можем выводить дату в нужном нам формате -->
    <hr>
    {% if news %} <!-- Если есть товары, то выводим таблицу с ними -->
        <table>
            <tr>
                <td>
                    Название
                </td>
                <td>
                    Содержание
                </td>
                <td>
                    Категория
                </td>
                <td>
                    Рейтинг
                </td>
                <td>
                    Автор
                </td>
                <td>
                    Время
                </td>
            </tr>
         {% for new in news %} <!-- Для каждого товара будете генерироваться новая строчка, т. е. новый html-код. При этом сам цикл работает точно также, как и в Python. product — переменная цикла, т. е. наш товар, взятый из общего списка -->
            <tr>
                <td>
                    {{ new.title }} <!-- применим наш фильтр, чтобы название товара вывелось 1 раза --> <!-- не забываем, что переменные в шаблоне ничем не отличаются от переменных в Python. Здесь также можно получать доступ к полям класса. Например, здесь мы выводим имя, в следующем столбце описание, и т. д.  -->
                </td>
                <td>
                    {{ new.text|truncatechars:15 }} <!-- дописываем специальный фильтр, чтобы ограничить количество символов до 15. Все остальные символы превратятся в многоточие. -->
                </td>
                <td>
                    {{ new.type }}
                </td>
                <td>
                    {{ new.rating }}
                </td>
                <td>
                    {{ new.author }}
                </td>
                <td>
                    {{ new.time }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Товаров нет!</h2>
    {% endif %}
{% endblock content %}
